@charset 'utf-8';

/* main design */
#main > section {
    padding: 6rem 0;
    border: 1px solid #000;
}

/* css 개별성 규칙 
-id로 정의한 이름 사용(#) : 100점
-class로 정의한 이름 사용: 10점
-태그로 정의한 이름 사용: 1점

예: #portfolio .works-list .item h4 + p {} -> 122점
*/

.visual {
    background: skyblue;
    height: 46rem;
    padding: 0 !important; /* !important-> 개별성 규칙을 무력화시킴 */
    position: relative;
}

.visual::before {
    content: "";
    display: block;
    height: 100%;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYGipbIYjRRoWC-ul6XJkbne4DjZ6aEHEyyg&s)
        no-repeat 0 0 / cover;

    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); ->trft*/

    left: 0;
    top: 0;
    /* z-index: 1; */
    width: 100%;
}

/* common에 inner가 있어서 따로 잡아줄 때는 이렇게 잡아주기 */
.visual .inner {
    position: relative;
    height: 100%;
}

.visual-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* trfty */
    /* z-index: 1; */
}
