@charset 'utf-8';

/* main design */
#main > section {
    padding: 6rem 0;
    /* border: 1px solid #000; */

    /* padding: 3.125vw 0; */
    padding: clamp(4rem, 3.125vw, 6rem) 0;
}

/* css 개별성 규칙 
-id로 정의한 이름 사용(#) : 100점
-class로 정의한 이름 사용: 10점
-태그로 정의한 이름 사용: 1점

예: #portfolio .works-list .item h4 + p {} -> 122점
*/

.visual {
    background: skyblue;
    height: 46rem;
    padding: 0 !important; /* !important-> 개별성 규칙을 무력화시킴 */
    position: relative;
    overflow: hidden;
}

.visual::before {
    content: "";
    display: block;
    height: 100%;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYGipbIYjRRoWC-ul6XJkbne4DjZ6aEHEyyg&s)
        no-repeat 0 0 / cover;

    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); ->trft*/

    left: 0;
    top: 0;
    /* z-index: 1; */
    width: 100%;
    animation: visual-ani 1s;
}

.visual::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black70p);
    width: 100%;
    height: 100%;
}

/* common에 inner가 있어서 따로 잡아줄 때는 이렇게 잡아주기 */
.visual .inner {
    position: relative;
    height: 100%;
}

.visual-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* trfty */
    z-index: 5;
    width: 69rem;
    width: 58.4746%;
}

.visual-title h2 {
    font-weight: 700;
    font-size: 4.8rem;
    font-size: 2.5vw; /* 뷰포트 가로크기를 기준으로 한 단위(vw) */
    font-size: clamp(3rem, 8vw, 4.8rem); /* clamp(최소값, 추천값, 최대값) */

    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;

    animation: slide-right 0.5s 1s both;
}

.visual-title h2 strong {
    color: var(--main-color);
}

.visual-title p {
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    margin-top: 2.4rem;

    animation: slide-right 0.5s 1.3s both;
}
.visual-title a.cta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 4.8rem;
    background: var(--main-color);
    color: #fff;
    font-weight: 700;
    margin-top: 3.2rem;

    animation: slide-right 0.5s 2s both;
}

@keyframes visual-ani {
    /* from */
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    /* to */
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
}

.business-list {
    display: flex;
    gap: 2rem;
}

.business-list li {
    width: 28rem;
    width: 23.7288%;
    min-height: 3.2rem;
    padding: 2.8rem 3.2rem;
    border: 1px solid var(--black20p);
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.05);
}

.business-list li dl dt {
    font-weight: 700;
    font-size: 2rem;
    color: var(--main-color-dark);
    line-height: 1.3;
}

.business-list li dl dt + dd {
    margin-top: 2rem;
}

.business-list li dl dd {
    font-weight: 500;
}

.sec-title {
    font-weight: 500;
    font-size: 3.2rem;
    color: var(--main-color);
}

.sec-title + p {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 0.4rem;
}

.work-list {
    margin-top: 2.8rem;
    display: flex;
    flex-wrap: wrap;
}

.work-list li {
    width: 59rem;
    width: 50%;
    height: 26rem;
    position: relative;
}

.work-list li figure {
    width: 100%;
    height: 100%;
}

.work-list li p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 500;
    font-size: 2.4rem;
    text-align: center;
    width: 90%;
}

.work-list li p strong {
    font-weight: 700;
    display: block; /* db -> (block) 한 줄을 다 차지한다. */
}

.news-con {
    display: flex;
    justify-content: space-between;
}

.news-text {
    /* border: 1px solid #000; */
    width: 48rem;
    width: 40.678%;
}
.news-con figure {
    width: 64rem;
    width: 54.2373%;
}

.news-text h4 {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--title-color);
    margin-top: 1.8rem;
}

.news-text p {
    margin-top: 1.8rem;
}

.column h4 {
    font-weight: 500;
    font-size: 2.8rem;
    color: var(--main-color);
}
.column h5 {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--title-color);
    margin-top: 1.8rem;
}

.column h5 + p {
    margin-top: 1.8rem;
    column-count: 2;
    column-gap: 4rem;
}
.column p {
    margin-top: 1.8rem;
}

.column p + p {
    text-align: right;
}

.column p + p strong {
    display: block;
    font-weight: 700;
}

/* .inner 크기에 맞는 분기점 생성 */
@media screen and (max-width: 1180px) {
    .inner {
        width: 968px;
        width: 94.5313%;
    }
}

/* 태블릿 디자인 */
@media screen and (max-width: 1024px) {
    /* .inner {
        width: 968px;
        width: 94.5313%;
    } */
    #header nav {
        height: 10rem;
    }
    .gnb {
        display: none;
    }
    .btn-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.8rem;
        height: 4.8rem;
        background: url(../img/ico_menu.svg) no-repeat 50%;
    }
    .visual {
        height: 64rem;
    }
    .visual-title {
        width: 46rem;
        width: 47.5207%;
        left: 8.2rem;
    }
    .business-list {
        flex-wrap: wrap;
    }
    .business-list li {
        width: 47.4rem;
        /* width: 48.9669%; */
        width: calc((100% - 2rem) / 2);
        min-height: 2.8rem;
    }
    .news-text {
        width: 47.4rem;
        width: 48.9669%;
    }
    .news-con figure {
        width: 47.4rem;
        width: 48.9669%;
    }
    .column h5 + p {
        column-count: 1;
    }
    .column p + p {
        margin-top: 2rem;
    }
}

/* 추가한 중간 분기점 */
@media screen and (max-width: 900px) {
    .visual-title {
        width: 70%;
    }
    .news-con {
        /* flex-wrap: wrap; */
        /* display: block; */
        flex-direction: column;
        gap: 2.4rem;
    }
    .news-text {
        width: 100%;
    }
    .news-con figure {
        width: 100%;
    }
}

/* 모바일 디자인 */
@media screen and (max-width: 600px) {
    .inner {
        width: 35rem;
        width: 89.7436%;
    }
    .visual {
        height: 48rem;
        height: calc(100vh - 10rem);
    }
    .visual-title {
        width: 100%;
        left: 0;
        text-align: center;
    }
    .visual-title h2 {
        font-size: 3rem;
    }
    .business-list li {
        width: 100%;
    }
    .work-list li {
        width: 100%;
        aspect-ratio: 1/0.5;
        /* height: 18rem; */
        height: initial;
    }
    .column h5 {
        font-size: 2.4rem;
    }
    .foot-con {
        flex-direction: column;
        gap: 2.4rem;
    }
    .foot-text {
        text-align: center;
    }
}
